<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/styles.css">
    <title>Add Employees</title>
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <div class="addCon">
        <div class="txtBox">
            <h1>New Employee Record</h1> 
        </div>


    <div class="form">

        <div>

        <form action="/supervisor/add/new_emply" method="post">

            <div class="top">
                <h2>Add New Employee</h2>
                <hr>
            </div> 
        <div class="sup_add sup_add2">
            <div>
                <label for="">Employee Id:</label>
                <input type="number" name="emp_id" id="">
            </div>

            <div>
                <label for="">First Name:</label>
                <input type="text" name="emp_fn" id="">
            </div>

            <div>
                <label for="">Last Name: </label>
                <input type="text" name="emp_ln" id="">
            </div>

            <div>
                <label for="">Employee Position:</label>
                <select name="employ_pos" id="">
                    <option value="3">Intern</option>
                    <option value="2">Junior</option>
                    <option value="1">Senior </option>
                    <option value="4">supervisor</option>
                </select>
            </div>
            <div class="add add2">
                <input type="submit" value="submit">
            </div>
            </div>
            </form>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>
</body>
</html>