<div class="navigate">
    <nav>
        <a href="/">Home</a>
        <a href="">Residential</a>
        <a href="">Commercials</a>
        <a href="">Shop</a>
        <a href="">Request Consultation</a>
        <div class="drop">
            <div class="hov">Account</div>
            <div class="droplist">
                <a href="login">Login</a>
                <a href="register">Register</a>
                <a href="logout">Log out</a>
            </div>
        </div>
    </nav>
</div>