<div class="navigate">
    <nav>
        <a href="/">Home</a>
        <a href="">Residential</a>
        <a href="">Commercials</a>
        <a href="">Shop</a>
        <a href="">Request Consultation</a>
        <div class="dropdown">
            <button class="dropped">Account</button>
            <div class="dropdownlist">
            <% if (my_session.loggedin == true) { %>
               <a href="logout">Log out</a>
               <% } else { %>
                <a href="login">Login</a>
            <% } %>
              
              <a href="register">Register</a>
            </div>
          </div>
    </nav>
</div>