<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>Serhant Construction</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>

    <div class="landing">
        <div class="landingtxt">
            <div class="sometxt">
            <h2>Home Constructions</h2>
            <h2>Made Simple</h2>
            </div>
            <div class="btn">
            <button> Get Started </button>
            <button class="spd"> Request a Quote</button>
         </div>   
         </div>
         
    </div>

    <div class="about">
        <div class="imgbx">
            <img src="https://prorange.ancorathemes.com/wp-content/uploads/2020/09/welcome-1-copyright.jpg" alt="">
        </div>

        <div class="abt">
            <div class="title">
                <h2>Welcome to </h2>
                <h2>Our Company</h2>
            </div>
            <hr>
            <div class="dets">
                <p>Serhant Construction is a full service Construction company serving north and central Jamaica. We are proud to offer superior customer service and professional workmanship.</p>
            </div>
            <div>
            <button>More Info</button>
        </div>
        </div>

        

    </div>

    <div class="hwWork">
        <div class="titled">
            <h2>How We Work</h2>
            <div class="boxCon">
                <div class="box">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M0 64C0 28.65 28.65 0 64 0H224V128C224 145.7 238.3 160 256 160H384V299.6L289.3 394.3C281.1 402.5 275.3 412.8 272.5 424.1L257.4 484.2C255.1 493.6 255.7 503.2 258.8 512H64C28.65 512 0 483.3 0 448V64zM256 128V0L384 128H256zM564.1 250.1C579.8 265.7 579.8 291 564.1 306.7L534.7 336.1L463.8 265.1L493.2 235.7C508.8 220.1 534.1 220.1 549.8 235.7L564.1 250.1zM311.9 416.1L441.1 287.8L512.1 358.7L382.9 487.9C378.8 492 373.6 494.9 368 496.3L307.9 511.4C302.4 512.7 296.7 511.1 292.7 507.2C288.7 503.2 287.1 497.4 288.5 491.1L303.5 431.8C304.9 426.2 307.8 421.1 311.9 416.1V416.1z"/></svg>
                    </div>
                    <div class="dets">
                        <p>
                            Initial Contact & Estimation</p>
                    </div>
                </div>

                <div class="box">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M112.1 454.3c0 6.297 1.816 12.44 5.284 17.69l17.14 25.69c5.25 7.875 17.17 14.28 26.64 14.28h61.67c9.438 0 21.36-6.401 26.61-14.28l17.08-25.68c2.938-4.438 5.348-12.37 5.348-17.7L272 415.1h-160L112.1 454.3zM192 0C90.02 .3203 16 82.97 16 175.1c0 44.38 16.44 84.84 43.56 115.8c16.53 18.84 42.34 58.23 52.22 91.45c.0313 .25 .0938 .5166 .125 .7823h160.2c.0313-.2656 .0938-.5166 .125-.7823c9.875-33.22 35.69-72.61 52.22-91.45C351.6 260.8 368 220.4 368 175.1C368 78.8 289.2 .0039 192 0zM288.4 260.1c-15.66 17.85-35.04 46.3-49.05 75.89h-94.61c-14.01-29.59-33.39-58.04-49.04-75.88C75.24 236.8 64 206.1 64 175.1C64 113.3 112.1 48.25 191.1 48C262.6 48 320 105.4 320 175.1C320 206.1 308.8 236.8 288.4 260.1zM176 80C131.9 80 96 115.9 96 160c0 8.844 7.156 16 16 16S128 168.8 128 160c0-26.47 21.53-48 48-48c8.844 0 16-7.148 16-15.99S184.8 80 176 80z"/></svg>
                    </div>
                    <div class="dets">
                        <p>Proposal & Project Approval</p>
                    </div>
                </div>

                <div class="box">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M272 288h-64C163.8 288 128 323.8 128 368C128 376.8 135.2 384 144 384h192c8.836 0 16-7.164 16-16C352 323.8 316.2 288 272 288zM240 256c35.35 0 64-28.65 64-64s-28.65-64-64-64c-35.34 0-64 28.65-64 64S204.7 256 240 256zM496 320H480v96h16c8.836 0 16-7.164 16-16v-64C512 327.2 504.8 320 496 320zM496 64H480v96h16C504.8 160 512 152.8 512 144v-64C512 71.16 504.8 64 496 64zM496 192H480v96h16C504.8 288 512 280.8 512 272v-64C512 199.2 504.8 192 496 192zM384 0H96C60.65 0 32 28.65 32 64v384c0 35.35 28.65 64 64 64h288c35.35 0 64-28.65 64-64V64C448 28.65 419.3 0 384 0zM400 448c0 8.836-7.164 16-16 16H96c-8.836 0-16-7.164-16-16V64c0-8.838 7.164-16 16-16h288c8.836 0 16 7.162 16 16V448z"/></svg>
                    </div>
                    <div class="dets">
                        <p>Material Orders & Work Scheduling</p>
                    </div>
                </div>

                <div class="box">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M0 64C0 28.65 28.65 0 64 0H352C387.3 0 416 28.65 416 64V128C416 163.3 387.3 192 352 192H64C28.65 192 0 163.3 0 128V64zM160 352C160 334.3 174.3 320 192 320V304C192 259.8 227.8 224 272 224H416C433.7 224 448 209.7 448 192V69.46C485.3 82.64 512 118.2 512 160V192C512 245 469 288 416 288H272C263.2 288 256 295.2 256 304V320C273.7 320 288 334.3 288 352V480C288 497.7 273.7 512 256 512H192C174.3 512 160 497.7 160 480V352z"/></svg>
                    </div>
                    <div class="dets">
                        <p>Project Work & Inspections</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mment">
        <div class="form">
            <form (ngSubmit)="onSubmit()" #form="ngForm">
                <h2>Calculated Fields Form</h2>
                <p>We give the most accurate information regarding your specific inquiry. However, for the exact numbers, please contact our customer support. Thank you for choosing Serhant Constructions!
                </p>
                <div class="sizeCon">
                    <div class="size">
                        <div class="txt">
                            <p>Room / Office Size (m):</p>
                        </div>
                        <div class="bxs">
                            <input type="number" name="" id="" placeholder="Room / Office Length">
                            <input type="number" name="" id="" placeholder="Room / Office Width">
                        </div>
                    </div>

                    <div class="bxs2">
                        <div class="bx">
                            <label for="">Number of People</label>
                            <br>
                            <input type="number" name="" id=""  placeholder="Room / Office Width">
                        </div>
                        <div class="bx">
                            <label for="">Number of Windows</label>
                            <br>
                            <input type="number" name="" id="" placeholder="Room / Office Length">
                        </div>
                    </div>
                </div>

                <div class="moreInfo">
                    <p>Room/Office Characteristics:</p>
                    <p>Please select ONE element of the room / office to consider when calculating the perfect sized air-conditioner:</p>
                    <div class="select">
                        <label> <input type="radio" name="" id="" > Large or oversized windows with direct sunlight</label>
                         <label> <input type="radio" name="" id="" > Wide open spaces to other rooms, offices or bathroom</label>
                         <label> <input type="radio" name="" id="" > Floor to Ceiling height more than 3 meters</label>
                         <label> <input type="radio" name="" id="" > Extremely hot/cold in season</label>
                        
                    </div>
                </div>

                <div class="subs">

                    <button>Calculate Results</button>
                </div>

            </form>
        </div>
    </div>

    <div class="about2">
        <div class="abt">
            <div class="title">
                <h2>Ready to </h2>
                <h2>Get Started? </h2>
            </div>
            <hr>
            <div class="dets">
                <p>Call us today at Serhant Construction 
                    for a free quote at (800) 123-4567.
                </p>
            </div>
             <div>
            <button>Get In Touch</button>
        </div>
        </div>

       

    </div>

    <div class="hwWork hwWork2">
        <div class="titled">
            <h2>How We Work</h2>
            <div class="bxCon">
                <div class="left">
                     <div class="box">
                    <div class="icon">
                        <p>1</p>
                    </div>
                    <div class="dets">
                        <h2>Professionalism</h2>
                        <p>We produce a higher level of residential and commercial professional painting services.</p>
                    </div>
                </div>

                <div class="box">
                    <div class="icon">
                        <p>2</p>
                    </div>
                    <div class="dets">
                        <h2>Customer Service</h2>
                        <p>Customer service will help you answer any questions before, during and after painting.</p>
                    </div>
                </div>
                </div>
               
                <div class="middle">
                    <div class="imgbx">
                        <img src="https://prorange.ancorathemes.com/wp-content/uploads/2017/03/img232.jpg" alt="">
                    </div>
                </div>

                <div class="right">
                    <div class="box">
                        <div class="icon">
                            <p>3</p>
                        </div>
                        <div class="dets">
                            <h2>Quality Assurance</h2>
                            <p>We afford Quality Assurance services that approach each engagement as a partnership.</p>
                        </div>
                    </div>

                    <div class="box">
                        <div class="icon">
                            <p>4</p>
                        </div>
                        <div class="dets">
                            <h2>Upfront Pricing</h2>
                            <p>We provide honest upfront pricing so that you know the real cost of your painting projects.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about3">
        <div class="abt">
            <div class="title">
                <h2>Full Property </h2>
                <h2>Building Finishes</h2>
            </div>
            <hr>
            <div class="dets">
                <p>Make Your Dream a Reality With Us
                </p>
            </div>
        </div>
    </div>
    
    <div class="logoslider">
        <div imgbx>
            <img src="https://prorange.ancorathemes.com/wp-content/uploads/2017/02/marker-5.png" alt="">
        </div>
        <div imgbx>
            <img src="https://prorange.ancorathemes.com/wp-content/uploads/2017/02/marker-7.png" alt="">
        </div>
        <div imgbx>
            <img src="https://prorange.ancorathemes.com/wp-content/uploads/2017/02/marker-4.png" alt="">
        </div>
        <div imgbx>
            <img src="https://prorange.ancorathemes.com/wp-content/uploads/2017/02/marker-2.png" alt="">
        </div>
        <div imgbx>
            <img src="https://prorange.ancorathemes.com/wp-content/uploads/2017/02/marker-6.png" alt="">
        </div>
    </div>

    <div class="reviews">
        <div class="txt">
            <h2>What People Say</h2>
        </div>
        <div class="review">
            <p>“ProRange Company has done multiple projects for us over the last few years. They do a beautiful, quality job and are very easy to work with.”</p>
            <p class="rw_nm">Jason Blacke</p>
            <p class="prof_t">Interior & Exterior Painting</p>
        </div>
    </div>

    <%- include('../partials/footer.ejs') %>

</body>
</html>