<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>Residential</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    
    <div class="residentbanner">
        <h1>Residential</h1>
        <p>Home / Residential</p>
    </div>

    <div class="aboutresident">
        <div class="someTxt">
            <h2>Residential</h2>
            <h2> Painting</h2>
            <hr>
            <p> Looking for a company you can trust to complete your residential painting job? You don’t have to look anymore! ProRange Painters are here to answer your questions, help you define your goals, and provide top services to complete whatever painting job you have in mind. </p>
            <br>
            <p>We use only the best quality paint, newest technology and expert painters to create a new look for your home. Update with the latest trends in home colors creating a beautiful style throughout your interior, or give the outside of your home a makeover with fresh paint that will make it look new again. </p>
        </div>
    </div> 

    <div class="residentservices">

        <h2>Our Residential Services</h2>
        <div class="imgBxs">
            <div class="box">
                <div class="imgBx">
                    <img src="https://prorange.ancorathemes.com/wp-content/uploads/2017/03/image-32-740x522.jpg" alt="">
                </div>
                <div class="txt">
                    <p>Interior Painting</p>
                </div>
            </div>

            <div class="box">
                <div class="imgBx">
                    <img src="https://prorange.ancorathemes.com/wp-content/uploads/2017/03/image-31-740x522.jpg" alt="">
                </div>
                <div class="txt">
                    <p>Exterior Painting</p>
                </div>
            </div>

            <div class="box">
                <div class="imgBx">
                    <img src="https://prorange.ancorathemes.com/wp-content/uploads/2017/03/image-30-740x522.jpg" alt="">
                </div>
                <div class="txt">
                    <p>Color Consulting</p>
                </div>
            </div>
        </div>

    </div>

    <div class="about2">
        <div class="abt">
            <div class="title">
                <h2>Ready to </h2>
                <h2>Get Started? </h2>
            </div>
            <hr>
            <div class="dets">
                <p>Call us today at ProRange Painting Company
                    for a free quote at (800) 123-4567.
                </p>
            </div>
             <div>
            <button>Get In Touch</button>
        </div>
        </div>

       

    </div>

    <div class="residentprojects">
        <h2>Completed Projects</h2>
        <div class="filters">
            <p style="background: #BCB894; color: #fff ">Filter - All</p>
            <p>Exterior</p>
            <p>Interior</p>
            <p>Stairwell</p>
        </div>
        <div class="imagesCon">
            <div class="imgBx">
                <img src="https://prorange.ancorathemes.com/wp-content/uploads/2017/03/image-33.jpg" alt="">
            </div>
            <div class="imgBx">
                <img src="https://prorange.ancorathemes.com/wp-content/uploads/2017/03/image-34.jpg" alt="">
            </div>
            <div class="imgBx">
                <img src="https://prorange.ancorathemes.com/wp-content/uploads/2017/03/image-35.jpg" alt="">
            </div>
            <div class="imgBx">
                <img src="https://prorange.ancorathemes.com/wp-content/uploads/2017/03/image-36.jpg" alt="">
            </div>
            <div class="imgBx">
                <img src="https://prorange.ancorathemes.com/wp-content/uploads/2017/03/image-37.jpg" alt="">
            </div>
            <div class="imgBx">
                <img src="https://prorange.ancorathemes.com/wp-content/uploads/2017/03/image-38.jpg" alt="">
            </div>
        </div>
        <div class="pagination">
            <p style="background: #406870; color: #fff ">1</p>
            <p>2</p>
        </div>
    </div>

    <%- include('../partials/footer.ejs') %>

</body>
</html>